#chart-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 0;
  margin-left: 55%;
  justify-content: center;
  padding-top: 40px;
  h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
}
