main {
  display: flex;
}
#musicPlayer {
  #current-song {
    .player {
      .coverImg {
        position: flex;
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background: center;
        background-size: cover;
      }
    }
  }
}
