main {
  display: flex;
}
#musicPlayer {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #current-song {
    .player {
      .coverImg {
        position: flex;
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        background: center;
        background-size: cover;
      }
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .controll-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
