div#musicPlayer
       div#current-song 
           img.coverImg(src="") 
           span.title    
       div.time-bar 
            div.current-bar       
       div.time 
            span.current-time 00:00 
            span.full-time 00:00
       div.control      
           div.btn     
              i#preBtn.fa.fa-backward-step
              i#playBtn.playIcon.fas.fa-play  
              i#nextBtn.fa.fa-forward-step
       div#player    



               
             

           
